@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');

.code-section {
    border: 1px solid grey;
    /* width: fit-content; */
    /* overflow: scroll; */
}

.code-container {
    overflow:auto;
    padding: 15px;
}

.code-section-header {
    background-color: gray;
    /* border: 1px solid green; */
}

code {
    width: fit-content;
    /* font-family: 'JetBrains Mono', sans-serif; */
    /* font-size: 0.6rem; */
}

.hljs {
    background-color: black;
    color: white;
}

pre code.hljs {
    padding: 0;
}

.function_ {
    color: green;
}

.class_ {
    color: rgb(219, 224, 56);
}

.hljs-string {
    color: purple;
}

.hljs-meta {
    color: ;
}