.code-section {
    border: 1px solid rgb(71, 71, 71);
    width: fit-content;
    height: fit-content;
}

.code-section-header {
    background-color: gray;
}

.hljs {
    background-color: #2d2d2d;
    color: white;
}

pre code.hljs {
    padding: 15px;
}

.function_ {
    color: green;
}

.class_ {
    color: rgb(219, 224, 56);
}

.hljs-string {
    color: purple;
}