.code-section {
    border: 1px solid #474747;
    width: fit-content;
    /* height: fit-content; */
}

.code-section-header {
    min-height: 20px;
    background-color: #252525;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

code {
}

pre {
}

.hljs {
    background-color: #2d2d2d;
    color: white;
}

pre code.hljs {
    padding: 15px;
}

.function_ {
    color: green;
}

.class_ {
    color: rgb(219, 224, 56);
}

.hljs-string {
    color: purple;
}